* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Red Rose", serif;
}

body {
    background-color: #ffff;
}

section,
footer {
    padding: 54px 0;

}

h3 {
    font-size: 50px;
}

a {
    color: #000000;
}

p {
    color: #000000;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn {
    background-color: #a9a9a9;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn .animate-btn {
    animation: animate-outline 1s ease-out infinite;
}

.btn:hover {
    background-color: #d6d6d6;
}

@keyframes animate-outline {
    from {
        outline: 0px solid #d6d6d6;
    }

    to {
        outline: 15px solid #d6d6d6b6;
    }
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.logo-principal {
    width: 170px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: #000000;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a:not(.btn)::after {
    content: "";
    background-color: #000000;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}

/* menu mobile */
nav .menu-icon {
    cursor: pointer;
    font-size: 25px;
    display: none;
}

nav .close-icon {
    display: none;
    font-size: 30px;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner .banner-text {
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1 {
    font-size: 80px;
}

.banner .banner-text p {
    font-size: 20px;
    color: #000000;
    font-weight: lighter;
    margin: 18px 0;
}

/* faca mais */
.faca-mais .container {
    display: flex;
    align-items: center;
}

.faca-mais .faca-mais-text {
    width: 50%;
    padding: 0 40px;
}

.faca-mais .faca-mais-text h3 {
    font-size: 56px;
}

.faca-mais .faca-mais-text p {
    margin: 5px 0 10px 0;
}

.faca-mais .faca-mais-img {
    width: 50%;
}

.faca-mais .faca-mais-img img {
    width: 100%;
    border-radius: 5px;
}

.depoimentos h3 {
    text-align: center;
}

.depoimentos p {
    margin-bottom: 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
}

.depoimentos .card-item {
    background-color: #a9a9a9;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.depoimentos .card-item img {
    border-radius: 10%;
    width: 80px;
    display: inline-block;

}

.n18 {
    border-radius: 10%;
    width: 100px;
    height: 107px;
    display: inline-block;
}

.depoimentos .card-item .nome-user {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.depoimentos .card-item .depoimento-user {
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

.depoimentos .card-item .estrelas {
    margin: 15px 0;
    border-top: 2px solid #928f8f;
    transition: 0.3s;
}

.depoimentos .card-item .estrelas i {
    margin-top: 15px;
    font-size: 20px;
    transition: 0.3s
}

/* EFEITO PARA SUBIR OS CARDS AINDA NÃO FUNCIONOU CORRETAMENTE

  .depoimentos .card-item:hover {
    background-color: darkgrey;
    margin-top: -5PX; 
}  */

.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .depoimento-user,
.depoimentos .card-item:hover .estrelas i {
    color: white;
}

/* MESSAGE */
.message h3,
.message p {
    text-align: center;
    position: relative;
    margin-top: -80px;
}

.message h3 {
    margin-right: 50px;
}

.img-msg {
    width: 100px;
    position: relative;
    bottom: 80px;
    left: 730px;
}

.faca-mais .faca-mais-img .img-mulher {
    border-radius: 5px;
    width: 80%;
    /* height: 500px;  */
    /* display: inline-block; */
}

/* footer */
.footer {
    background-color: #928f8f;
    text-align: center;
}

.footer i {
    font-size: 25px;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.footer p {
    margin-top: 10px;
}

/* Página sobre*/
.sobre .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre img {
    width: 50%;
}

/* end Página sobre */

@media(max-width: 830px) {

    /* menu mobile */
    .ul {
        position: fixed;
        top: 0;
        left: 0;
        background: #928f8f;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }

    .ul.open {
        clip-path: circle(141.4% at 100% 0);
    }

    .ul a {
        margin: 10px 0;
        font-size: 16px;
    }

    nav .menu-icon {
        display: block;
    }

    nav .close-icon {
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }
}